
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>学习园地</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="zhangyong" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/fontello.css"/>
    <link rel="stylesheet" href="css/ylb-public.css"/>
    <link rel="stylesheet" href="css/ylb-index.css"/>
    <style type="text/css">
        #scrollUp {
            bottom: 120px;
            right: 30px;
            padding: 10px 20px;
            background-color: #555;
            color: #fff;
        }
    </style>
</head>

<body style="position: static;">
<!--start:topbar-->
<div class="topbar">
    <div class="container">
        <ul class="list-inline pull-right">
            <li>
                <a id="logonModal" href="/login.html?source=QQ">
                    <img alt="QQ登录" src="blog/images/qq_bt_blue_76X24.png">
                </a>
            </li>
        </ul>
    </div>
</div>
<!--end:topbar-->

<header class="header">
    <div class="container">
        <H2 class="ylb-logo pull-left">
            <a class="icon logo" href="http://www.52menshao.com"><em>Man Show</em></a></H2>


        <nav class="navbg bs-navbar-collapse">
            <ul class="nav nav-menu">
                <li class="menu-list"><a class="h4" href="http://www.52menshao.com">首页</a></li>


                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/3">java企业开发</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/1">移动开发</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/2">web前端开发</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/14">常用工具组件</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/26">资讯</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/1011">教程</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/1008">网站介绍</a></li>

                <li class="menu-list"><a class="h4" href="http://www.52menshao.com/channel/1039">行业知识</a></li>

            </ul>
        </nav>
    </div>
</header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>

        <li data-target="#myCarousel" data-slide-to="1" ></li>

    </ol>

    <div class="carousel-inner" role="listbox">

        <div

                class="item active"


        >
            <a href="http://www.52menshao.com/content/45">
                <img style="width: 100%; height: 314px" src="http://www.52menshao.com/img/t_1410513106027.png">
                <div class="carousel-caption">
                    <button type="button" class="btn btn-primary btn-lg">
                        <span class="ladda-label">手机卫士01--启动界面</span>
                    </button>
                </div>
            </a>
        </div>

        <div


                class="item"

        >
            <a href="http://www.52menshao.com/content/34">
                <img style="width: 100%; height: 314px" src="http://www.52menshao.com/img/b_1406530916594.jpg">
                <div class="carousel-caption">
                    <button type="button" class="btn btn-primary btn-lg">
                        <span class="ladda-label">jsoup中文开发指南</span>
                    </button>
                </div>
            </a>
        </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" style="min-height: 500px; margin-top: 40px">
    <div class="row ylb-news">

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/3">java企业开发</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1181" title="log4j详解与实战">log4j详解与实战</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1179" title="BASE64与单向加密算法MD5&SHA&MAC">BASE64与单向加密算法MD5&SHA&MAC</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1178" title="浅谈CSRF攻击方式">浅谈CSRF攻击方式</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1176" title="浅谈HTTP中Get与Post的区别">浅谈HTTP中Get与Post的区别</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1167" title="HTTPS那些事（二）SSL证书">HTTPS那些事（二）SSL证书</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1166" title=" HTTPS那些事（一）HTTPS原理"> HTTPS那些事（一）HTTPS原理</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1165" title="CAP理论和NWR策略应用">CAP理论和NWR策略应用</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1164" title=" 暴力破解穷举算法的改进"> 暴力破解穷举算法的改进</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1160" title="高性能网络编程1----accept建立连接">高性能网络编程1----accept建立连接</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1159" title="TCP的几个状态">TCP的几个状态</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/1">移动开发</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1177" title="IOS优化-iOS应用性能调优的25个建议和技巧">IOS优化-iOS应用性能调优的25个建议和技巧</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1174" title="iOS开发UI篇—UIWindow简单介绍">iOS开发UI篇—UIWindow简单介绍</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1173" title="iOS开发UI篇—程序启动原理和UIApplication">iOS开发UI篇—程序启动原理和UIApplication</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1156" title="Objective-C特点及特征">Objective-C特点及特征</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1152" title="IOS开发系列—Objective-C之Foundation框架">IOS开发系列—Objective-C之Foundation框架</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1151" title="IOS开发系列--Objective-C之KVC、KVO">IOS开发系列--Objective-C之KVC、KVO</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1149" title="Objective-C之内存管理">Objective-C之内存管理</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1148" title="Objective-C之协议、代码块、分类">Objective-C之协议、代码块、分类</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1147" title="Objective-C之类和对象">Objective-C之类和对象</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1146" title="Objective-C之基础概览">Objective-C之基础概览</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/2">web前端开发</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1150" title="jsonp详解 ">jsonp详解 </a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1068" title="跟着8张思维导图学习javascript8-javascript正则表达式">跟着8张思维导图学习javascript8-javascript正则表达式</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1067" title="跟着8张思维导图学习javascript7-javascript基础DOM操作">跟着8张思维导图学习javascript7-javascript基础DOM操作</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1066" title="跟着8张思维导图学习javascript6-javascript函数基础">跟着8张思维导图学习javascript6-javascript函数基础</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1065" title="跟着8张思维导图学习javascript5=-javascript字符串函数">跟着8张思维导图学习javascript5=-javascript字符串函数</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1064" title="跟着8张思维导图学习javascript4-javascript流程语句">跟着8张思维导图学习javascript4-javascript流程语句</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1063" title="跟着8张思维导图学习javascript3-javascript数组">跟着8张思维导图学习javascript3-javascript数组</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1062" title="跟着8张思维导图学习javascript-javascript运算符">跟着8张思维导图学习javascript-javascript运算符</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1061" title="跟着8张思维导图学习javascript1-javascript变量">跟着8张思维导图学习javascript1-javascript变量</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1057" title="盘点国内网站常用的一些CDN公共库加速服务">盘点国内网站常用的一些CDN公共库加速服务</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/14">常用工具组件</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1010" title="正则表达式30分钟入门教程">正则表达式30分钟入门教程</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1007" title="Maven实战—打包的技巧">Maven实战—打包的技巧</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1006" title="Maven实战—常用Maven插件介绍（下）">Maven实战—常用Maven插件介绍（下）</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1005" title="Maven实战—常用Maven插件介绍（上）">Maven实战—常用Maven插件介绍（上）</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1003" title="Maven实战—多模块项目的POM重构">Maven实战—多模块项目的POM重构</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1002" title="Maven实战—POM重构之增还是删">Maven实战—POM重构之增还是删</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/51" title="Maven实战-坐标规划">Maven实战-坐标规划</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/48" title="使用Memory Analyzer tool(MAT)分析内存泄漏2">使用Memory Analyzer tool(MAT)分析内存泄漏2</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/47" title="使用Memory Analyzer tool(MAT)分析内存泄漏1">使用Memory Analyzer tool(MAT)分析内存泄漏1</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/39" title="Ant 介绍">Ant 介绍</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/26">资讯</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1172" title="雷军vs周鸿祎，20年的">雷军vs周鸿祎，20年的</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1163" title="不投简历，如何获得月薪2万的工作">不投简历，如何获得月薪2万的工作</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1162" title="2014中国早教市场分析报告">2014中国早教市场分析报告</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1161" title="“滴滴代喝”APP让你随时叫个美女来代喝陪酒！估值10亿呀！！！">“滴滴代喝”APP让你随时叫个美女来代喝陪酒！估值10亿呀！！！</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1153" title="任正非：我的父亲母亲">任正非：我的父亲母亲</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1142" title="工程师忽略的隐形成本">工程师忽略的隐形成本</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1138" title="互联网的空气净化器,你们了解么">互联网的空气净化器,你们了解么</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1128" title="程序员创业，千万别创成外包">程序员创业，千万别创成外包</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1125" title="程序员如何参与创业">程序员如何参与创业</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1123" title="程序员接私单不传秘籍">程序员接私单不传秘籍</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/1011">教程</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1154" title="互联网产品经理必读书单">互联网产品经理必读书单</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1090" title="Docker从入门到实践">Docker从入门到实践</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1086" title="Ext4.1中文API文档">Ext4.1中文API文档</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1085" title="七天学会NodeJS">七天学会NodeJS</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1084" title="跟我学Apache Shiro安全框架">跟我学Apache Shiro安全框架</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1083" title="Android Material Design 中文版">Android Material Design 中文版</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1082" title="《Swift语言》中文版">《Swift语言》中文版</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/1008">网站介绍</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1183" title="Cordova 在Iframe框架中失效">Cordova 在Iframe框架中失效</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1180" title="关闭SVN服务(TSVNCache.exe进程)的方法">关闭SVN服务(TSVNCache.exe进程)的方法</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1175" title="ios开发记录-UITabBar导航栏">ios开发记录-UITabBar导航栏</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1171" title="cms 系统接着改造方向">cms 系统接着改造方向</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1130" title="kaixinstudy.com添加scrollUp，回到顶部">kaixinstudy.com添加scrollUp，回到顶部</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1122" title="kaixinstudy.com 准备solr搭建搜索的学习笔记">kaixinstudy.com 准备solr搭建搜索的学习笔记</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1113" title="kaixinstudy.com添加关键字过滤">kaixinstudy.com添加关键字过滤</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1093" title="kaixinstudy.com遗漏的压缩优化">kaixinstudy.com遗漏的压缩优化</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1087" title="kaixinstudy.com防xss攻击">kaixinstudy.com防xss攻击</a>
                        </li>

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1059" title="kaixinstudy.com网站新增评论和咨询">kaixinstudy.com网站新增评论和咨询</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

        <section class="col-sm-4">
            <div class="box-shadow padding-lg">
                <h3 class="title3 side-title-center"><a href="http://www.52menshao.com/channel/1039">行业知识</a></h3>
                <div id="load_notice">
                    <ul class="news-list">

                        <li>
                            <i class="icon icon-point">路</i>
                            <a href="http://www.52menshao.com/content/1182" title="借助英语搞清会计中“借”/“贷”的含义">借助英语搞清会计中“借”/“贷”的含义</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>






<!-- start: Sup-Footer -->
<div class="sup-footer" role="menu">

</div>
<!-- end: Sup-Footer -->

<footer class="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="copyright">
                &copy; 2014 <a href="">Man Show</a> <span>沪ICP备14008564号</span>
            </div>
        </div>
        <div class="footer-verify hidden-xs">
        </div>
    </div>
</footer>

<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquery-scrollUp/2.1.0/jquery.scrollUp.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.scrollUp({scrollText: ''});
    });
</script>
<img src="http://img.tongji.linezing.com/3498335/tongji.gif" style="display: none"/>
</body>
</html>